<header>
    <div class="navbar">
        <ul>
            <li>
                <span onclick="transition('/')">< fh.prv ></span>
            </li>
            <li>
                <span onclick="transition('/about')">About Me</span>
            </li>
            <li>
                <span onclick="transition('/projects')">Projects</span>
            </li>
            <li>
                <span onclick="transition('/contact')">Contact</span>
            </li>
            <li>
                <a href="https://github.com/fh-prv">GitHub</a>
            </li>
        </ul>
    </div>
</header>