<header>
    <div class="navbar">
        <ul>
            <li>
                <a href="/">< fh.prv ></a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/projects">Projects</a>
            </li>
            <li>
                <a href="/contact">Contact</a>
            </li>
            <li>
                <a href="https://github.com/fh-prv">GitHub</a>
            </li>
        </ul>
    </div>
</header>