<head>
    <link href="https://mastodon.social/@fhprv" rel="me">
    <link rel="icon" href="/img/fh.prv - Raw Full.png">
    <link rel="stylesheet" href="/css/stylesheet.css">
    <script src="/js/script.js"></script>
    <title><%- text %></title>
    <!--
        AGAo/b2tqEpFg9CWEUlVclPXz5t812c9iGKgqpteSDQCjGewsn05jZXHqLibEA5FrzU5u5GIqEbrN8vj7OCCQ7ykGIgEtBvBHkqdBAfvxMYxp/DKTWRZjCXsAKcm0IMuG5FnXDq0ZHktw7MNsqgHrb76QJfjg2IgGjiYgl0y4wgsaseUQwHWVVjCVQj6LmG0uw64dtnISjWQA7uZGjx8ALcusxwxTzS09kae+Y3fILGJfNQLAg+cV7LMt8NLxQi/6OgkYdOuhUhZ62NazV9n92zPzKny8835SOubBDyeDJ7+4Szr2FDYRsLc6Opfzkt8t94R4EOjChv/8MGcJ1xILEx8ZAQa3PjJCFSPDjW1Mq3n+IlvJ5PCccZsraC7OfzUJmx6Fu5EWN3j5Ir9Plg0iz19Qlf44uarKuA4rs/mJ9r4ceB4xjHT3iYvjQx5fx6l6uwGxvJ82tzERV2ZZvrHjw==
    -->
</head>