<html>
    <%- include('includes/head', { text: '404 | fh.prv' }) %>
    <body>
        <%- include('includes/header') %>
        
        <main>
            <div class="centerText">
                <h1>404</h1>
                Not found <br>
                <br>
                <span onclick="transition('/')" style="color: #ffffff">[Back Home]</span>
            </div>
        </main>

        <%- include('includes/footer') %>
    </body>
</html>