<html>
    <%- include('includes/head', { text: '404 | fh.prv' }) %>
    <body>
        <%- include('includes/header') %>
        
        <main>
            <div class="centerText">
                <h1>404</h1>
                Not found <br>
                <br>
                <a href="/" style="color: #ffffff">[Back Home]</a>
            </div>
        </main>
    </body>
</html>