<html>
    <%- include('includes/head', { text: 'About | fh.prv' }) %>
    <body>
        <%- include('includes/header') %>

        <main>
            <div class="about">
                <img src="/img/fh.prv - Raw Full.png" height="128px" width="128px">
                <div class="aboutText">
                    <h1>About Me</h1>
                    Hello and welcome to my Website 👋 <br>
                    I'm fh.prv and a student developer 💻. <br>
                    I'm mostly programming Discord Bots and Websites but I also try myself in modifications for popular games like Minecraft. <br>
                    If you like my work I would appreceate if you would follow me on <a href="https://github.com/fh-prv" style="color: #333">[GitHub]</a> and leave a star ⭐ to the repositories you like. <br>
                    I work mainly with <a style="color: #f89820">Java</a>, <a style="color: #f0db4f">JavaScript</a> / <a style="color: #007acc">TypeScript</a>, <a style="color: #e34f26">HTML5</a> and <a style="color: #264de4">CSS</a>. <br>
                    These are my official social-media accounts: <br>
                    <ul>
                        <li>
                            <a href="#" style="color: #000">[Discord]</a>
                        </li>
                        <li>
                            <a href="https://github.com/fh-prv" style="color: #333">[GitHub]</a>
                        </li>
                        <li>
                            <a href="https://instagram.com/fh.prv" style="color: #fa7e1e">[Instagram]</a>
                        </li>
                        <li>
                            <a href="https://mastodon.social/@fhprv" style="color: #5d4ee5">[Mastodon]</a>
                        </li>
                        <li>
                            <a href="https://open.spotify.com/user/4r8jkpance3eh6a7infsyy2jr" style="color: #1dB954">[Spotify]</a>
                        </li>
                        <li>
                            <a href="https://twitch.tv/fh_prv" style="color: #6441a5">[Twitch]</a>
                        </li>
                        <li>
                            <a href="https://twitter.com/fh_prv" style="color: #1da1f2">[Twitter]</a>
                        </li>
                        <li>
                            <a href="#" style="color: #000">[YouTube]</a>
                        </li>
                    </ul>
                </div>
            </div>
        </main>

        <%- include('includes/footer') %>
    </body>
</html>