<html>
    <%- include('includes/head', { text: 'Contact | fh.prv' }) %>
    <body>
        <%- include('includes/header') %>

        <main>
            <div class="centerText">
                <h1>Contact</h1>
                To contact me, please send me a mail to info[at]fhprv.de.    
            </div>
        </main>
    </body>
</html>