<html>
    <%- include('includes/head', { text: 'Contact | fh.prv' }) %>
    <body>
        <%- include('includes/header') %>

        <main>
            <div class="contact">
                <img src="/img/fh.prv Contact - Raw Full.png" height="128px" width="128px">
                <div class="contactText">
                    <h1>Contact</h1>
                    If you want to get in touch with me, you have the following options:
                    <ul>
                        <li>
                            <a href="https://discord.com/users/552232329259778058" style="color: #5865f2">[Discord]</a>
                        </li>
                        <li>
                            <a href="mailto:info@fhprv.de" style="color: #d44638">[Mail]</a>
                        </li>
                    </ul>
                </div>
            </div>
        </main>

        <%- include('includes/footer') %>
    </body>
</html>