<html>
    <%- include('includes/head', { text: 'Home | fh.prv' }) %>
    <body>
        <%- include('includes/header') %>
        
        <main>
            <div class="welcomeText">
                Please <br>
                come <br>
                back <br>
                later
                <h1> ! Under construction ! </h1>
                <a style="text-align: right;">
                    Please <br>
                come <br>
                back <br>
                later
                </a>
            </div>
        </main>

        <%- include('includes/footer') %>
    </body>
</html>