<html>
    <%- include('includes/head', { text: 'Home | fh.prv' }) %>
    <body>
        <%- include('includes/header') %>
        
        <main>
            <div class="centerText">
                <h1>Under construction</h1>
                Please come back later!
            </div>
        </main>

        <%- include('includes/footer') %>
    </body>
</html>