@font-face {
    font-family: 'SourceCodePro';
    src: url('/fonts/SourceCodePro-Regular.ttf');
}

body {
    background-color: #080b0f;
    color: #ffffff;
    font-family: 'SourceCodePro';
    margin: 0;
    text-decoration: none;
}

.footer {
    background-color: #111820;
    border-radius: 20px;
    bottom: 0;
    font-size: small;
    position: fixed;
    text-align: center;
    width: 100%;
}

.footer a {
    color: #adadad;
    padding: 4px;
    text-decoration: none;
    transition: 0.3s;
}

.footer a:hover {
    color: #51f34d;
    transition: 0.3s;
}

.navbar {
    background-color: #111820;
    border-radius: 20px;
    float: left;
    width: 100%;
}

.navbar ul li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li a {
    color: #ffffff;
    padding: 8px;
    text-decoration: none;
    transition: 0.3s;
}

.navbar ul li a:hover {
    color: #51f34d;
    transition: 0.3s;
}

.centerDiv {
    align-self: center;
}

.about {
    align-items: center;
    justify-content: center;
}

.about img {
    float: left;
    padding: 40px;
}

.aboutText {
    margin: auto;
    float: left;
    width: 60%;
}

.aboutText a {
    text-decoration: none;
}

.aboutText ul li {
    display: inline;
    list-style-type: none;
}

.aboutText ul li a {
    padding: 8px;
    text-decoration: none;
}